@charset " UTF-8";
/*Tela*/

*{
    margin: 0;
    padding: 0;

}

header{
    background-color: rgb(83, 83, 83);
}

header > h1{
    text-align: center;
}

menu ul{
    background-color: gray;
}

menu li{
    background-color: rgb(56, 56, 56);
    color: white;
    display: inline-block;
    padding: 10px;
    ;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(37, 37, 37);
}

main{

    width: 80vw;
    display: block;
    margin: auto;
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    line-height: 1.2em;
}

article{
    width: 60vw;
    display: block;
    margin: auto;
}

article h2{
    padding-bottom: 10px;
}

article p {
    text-align: justify;
    padding-bottom: 15px;
    
}